<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".pak" />
      <mimeMap fileExtension=".pak" mimeType="application/octet-stream" />
      <remove fileExtension=".ini" />
      <mimeMap fileExtension=".ini" mimeType="text/plain" />
      <remove fileExtension=".php" />
      <mimeMap fileExtension=".php" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
